html {
    height: 100%;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
    height: 100%;
    z-index: 1;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.main {
    position: relative;
    margin: 0 auto;
    width: 1280px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 45px 0 28px 0;
}

    .main__title {
        margin: 0 0 34px 45px;
    }

    .main__form {
        margin: 0 0 0 45px;
    }

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 2px;
    width: 1280px;
    background-color: #518E6A;
}

.form {
    display: inline-block;
    font-family: Roboto;
}

    .form__input {
        margin-right: 4px;
    }

    .form__btn {
        margin-right: 11px;
    }

.input {
    height: 42px;
    width: 286px;
    border: solid 1px #cecece;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 10px;
    overflow: hidden;
    outline: none;
}

.btn {
    height: 42px;
    width: 152px;
    border-radius: 2px;
    background-color: #518E6A;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 25px;
    padding-top: 2px;
    outline: none;
}

.btn:hover {
    background-color: #5baf7d;
}

    .btn_hidden {
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        color: #333333;
    }
    
    .btn_hidden:hover {
        background-color: #ffffff;
    }

.title {
    font-family: Roboto;
    font-size: 32px;
    line-height: 40px;
}

.search-section {
    margin-bottom: 21px;
}

    .search-section__text {
        display: inline-block;
    }

.table {
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    width: 100%;
}

.row {
    line-height: 35px;
}

.row:hover {
    background-color: #F2F2F2;
}

.row-header {
    font-weight: 900;
    line-height: 55px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);;
}

.row-header:hover {
    background-color: #ffffff;
}

.column-left {
    padding-left: 45px;
    width: 1010px;
}

.link {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    color: #3072C4;
}

.text_highlight {
    font-weight: 900;
    font-size: 16px;
}

.text_hidden {
    font-size: 14px;
    color: #a1a1a1;
}

.search-section__link {
    font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
    color: #3072C4;
}

.information-block {
    display: inline-block;
    margin: 20px 0;
    line-height: 25px;
}

.pre-footer {
    height: 95px;
    margin: 0 auto;
    width: 1280px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1280px;
}

.footer::before {
    content: "";
    display: inline-block;
    background-image: url("../img/kontur_logo.svg");
    width: 22px;
    height: 22px;
    margin: 0 5px 15px 0;
}

/* Pop-up окно */

.pop-up {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

    .pop-up_title {
        font-size: 22px;
        font-weight: 400;
    }

    .pop-up__form {
        position: relative;
        margin: 8px 0 0 0;
        width: 100%;
        z-index: 3;
    }

    .pop-up__btn {
        width: 112px;
        margin-left: 3px;
    }

#pop-up:target {
    display:block;
}

.exit {
    position: absolute;
    top: 35px;
    right: 35px;
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(../img/exit.svg);
}

.blank {
    position: relative;
    height: 645px;
    width: 500px;
    background-color: #fff;
    margin: 140px auto 0 auto;
    padding: 19px 35px 0 30px;
    box-sizing: border-box;
}

.blank:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 80px;
    width: 500px;
    background-color: #e9e9e9;
}

.label {
    font-weight: 400;
    line-height: 37px;
    padding-left: 2px;
}

.form-line {
    margin: 17px 0;
}

.form-line:last-child {
    margin-top: 53px;
}

    .form-line__input {
        float: right;
        height: 41px;
        width: 269px;
    }

    .form-line__input_short {
        width: 135px;
        margin-right: 134px;
    }

.clearfix::after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}